body {
  background-color: black;
  margin: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
  
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50%;
  background-color: #1f2937;
  margin: 0 auto;
  margin-top: 1%;
  border: 1px solid grey;
  border-radius: 20px;
  height: 50px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 50%;
  padding: 0;
}

li {
  font-size: 16px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 50%;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  background-color: #1f2937;
  border: 1px solid grey;
  border-radius: 20px;
}

.headshot-container {
  display: flex;
  justify-content: center;
  flex: 1 1 0;
}

.headshot {
  max-width: 25%;
  border-radius: 50%;
  margin-top: 30px;
  border: 1px solid grey;
}

.header-text h2 {
  font-weight: 300;
  padding: 20px;
  font-style: italic;
}

.link-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 1%;
  max-width: 50%;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  border: 1px solid grey;
  border-radius: 20px;
  padding: 10px;
  flex: 1 1 0;
  height: 30px;
  font-size: 16px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center ;
  flex: 1 1 0;
  gap: 2px;
}

.logo {
  width: 25px;
  margin-right: 5px;
}

.project-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 1%;
  max-width: 50%;
  gap: 10px;
}

.project1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: #1f2937;
  border: 1px solid grey;
  border-radius: 20px;
  padding: 1%;
}

.project1-pic-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.project1-pic {
  max-width: 90%;
  padding: 5px;
  border-radius: 40px;
}

.project1-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2%;
}

.project-title {
  font-size: 24px;
  margin-bottom: 0;
}

.project-date {
  font-size: 14px;
  font-weight: 100;
  font-style: italic;
}

.project-description {
  font-size: 20px;
}

.project2-pic {
  max-width: 40%;
  padding: 5px;
  border-radius: 40px;
}

.project2-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2%;
  
}

.project-github-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end; 
}

footer {
  text-align: center;
}

@media only screen and (max-width: 1500px) {
  nav {
    max-width: 90%;
  }
  .header {
    max-width: 90%;
  }
  .link-container {
    max-width: 90%;
  }
  .project-container {
    max-width: 90%;
  }
}